<div class='row justify-content-center' style="margin-top: 15px;">
    <h2> Family </h2>
</div>

<div class="card body p-2 text-center" style="border-radius: 1rem; margin-bottom: 15px;">
    <div class='row justify-content-center' style="margin-top: 10px;">
        <p style="margin:15px;">Case: Last Name</p>
        <p style="margin:15px;">DYFS: 00000</p>
        <p style="margin:15px;">Status: Closed</p>
    </div>
</div>

<div class="card body p-2 text-center" style="border-radius: 1rem; margin-bottom: 15px;">

    <button type="button" class="btn btn-link">Return to Family List</button>

    <div class='row justify-content-center'>
        <button style="margin:5px;" type="button" class="btn btn-secondary">Make Family Member A Patient</button>
        <button style="margin:5px;" type="button" class="btn btn-secondary">Make Family Member An Actor</button>
    </div>

    <div id="btn-login" class="row justify-content-center">
        <button type="submit" class="btn btn-primary btn-md">Update</button>
    </div>
</div>

<div class="card body p-2 text-center" style="border-radius: 1rem; margin-bottom: 15px">
    <h4> Family Members</h4>

    <div class="form-group row">
        <div>
            <label style="margin:15px;" for="patient">Pre-fill form with patient info:</label>
            <input id="patient-info" type="text" name="patient-info">
        </div>
        <div class="row justify-content-center" style="margin: 15px;">
            <button type="button" class="btn btn-secondary">Populate</button>
        </div>
    </div>

    <div class="form-group row">
        <div>
            <label style="margin:15px;" for="family-members">Pre-fill form with family member info:</label>
            <input id="family-members" type="text" name="family-members">
        </div>
        <div class="row justify-content-center" style="margin: 15px;">
            <button type="button" class="btn btn-secondary">Populate</button>
        </div>
    </div>

    <div class="card body p-2 text-center" style="border-radius: 1rem; margin-bottom: 15px">
        <h4>Patient</h4>

        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="all">
            <label class="form-check-label" for="all">
                All
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="patient1" checked>
            <label class="form-check-label" for="patient1">
                First Last1
            </label>
        </div>

        <h4>Member Info</h4>
        <div class="form-group row">
            <div>
                <label style="margin:15px;" for="first-name">First Name:</label>
                <input id="first-name" type="text" name="first-name">
            </div>
            <div>
                <label style="margin:15px;" for="last-name">Last Name:></label>
                <input id="last-name" type="text" name="last-name">
            </div>
            <div>
                <label style="margin:15px;" for="middle-name">MI:</label>
                <input id="middle-name" type="text" name="middle-name">
            </div>
        </div>

        <div class="form-group row">
            <div>
                <label style="margin:15px;" for="relationship">Relationship:</label>
                <input id="relationship" type="text" name="relationship">
            </div>
        </div>

        <div class="form-group row">
            <div>
                <label style="margin:15px;" for="social-security">Social Security:</label>
                <input id="social-security" type="text" name="social-security">
            </div>
        </div>

        <div class="form-group row">
            <div>
                <label style="margin:15px;" for="dob">DOB:</label>
                <input id="dob" type="text" name="dob">
            </div>
        </div>

        <div class="form-group row">
            <div>
                <label style="margin:15px;" for="gender">Gender:</label>
                <input id="gender" type="text" name="gender">
            </div>
        </div>

        <div class="form-group row">
            <div>
                <label style="margin:15px;" for="legal-status">Legal Status:</label>
                <input id="legal-status" type="text" name="legal-status">
            </div>

        </div>

        <div class="form-group row">
            <div>
                <label style="margin:15px;" for="primary-language-spoken">Primary Language Spoken:</label>
                <input id="primary-language-spoken" type="text" name="primary-language-spoken">
            </div>

        </div>

        <div class="form-group row">
            <div>
                <label style="margin:15px;" for="address">Address:</label>
                <input id="address" type="address" name="address">
            </div>
        </div>
        <div class="form-group row">
            <div>
                <label style="margin:15px;" for="address2">Address 2:</label>
                <input id="address2" type="address2" name="address2">
            </div>
        </div>
        <div class="form-group row">
            <div>
                <label style="margin:15px;" for="city">City:</label>
                <input id="city" type="text" name="city">
            </div>
        </div>

        <div class="form-group row">
            <div>
                <label style="margin:15px;" for="county">County:</label>
                <input id="country" type="text" name="country">
            </div>
        </div>

        <div class="form-group row">
            <div>
                <label style="margin:15px;" for="state">State:</label>
                <input id="state" type="text" name="state">
            </div>
        </div>
        <div class="form-group row">
            <div>
                <label style="margin:15px;" for="zip-code">Zip Code:</label>
                <input id="zip-code" type="text" name="zip-code">
            </div>
        </div>

        <div class="form-group row">
            <div>
                <label style="margin:15px;" for="phone">Phone:</label>
                <input id="phone" type="text" name="phone">
            </div>
        </div>

        <div class="form-group row">
            <div>
                <label style="margin:15px;" for="phone2">Phone 2:</label>
                <input id="phone2" type="text" name="phone2">
            </div>
        </div>

        <div class="form-group row">
            <div>
                <label style="margin:15px;" for="mobile">Mobile:</label>
                <input id="mobile" type="text" name="mobile">
            </div>
        </div>

        <div class="form-group row">
            <div>
                <label style="margin:15px;" for="email">Email:</label>
                <input id="email" type="text" name="email">
            </div>
        </div>

        <div class="form-group row">
            <label for="special-needs" class="col-sm-2 col-form-label">Special Needs/ Disabilities:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control  form-control-sm" id="special-needs">
            </div>
        </div>
    </div>
</div>
</div>
</div>
