<div class='row justify-content-center' style="margin-top: 10px;">
    <h3> History </h3>
</div>

<div class='row justify-content-center'>
    <p>[Family Name]</p>
</div>

<div id="btn-login" class="row justify-content-center">
        <button type="submit" class="btn btn-primary btn-md">Update</button>
</div>

<div class="form-group row">
    <label style="margin:15px;" for="last-contact-perpetrator">Date of Last Contact with Alleged Perpetrator</label>
    <input type="date" id="last-contact-perpetrator" name="last-contact-perpetrator">
</div>

<div class="form-group row">
    <div class="col-sm-6">
        <label class="block" for="">Other pertinent history and/or behavioral changes?</label>
        </div>
    <div class="col-sm-3">
        <select name="pertinent-history" id="pertinent-history">
            <option value="yes">Yes</option>
            <option value="no" selected >No</option>
        </select>
    </div>
</div>  

<div class="form-group row">
    <div class="col-sm-1">
        <p>If Yes,</p>
    </div>
    <div class="col-sm-11">
        <textarea class="block" rows="5" cols="50" for="Pertinent History"></textarea>
    </div>
</div>

<div class="form-group row">
    <div class="col-sm-6">
        <label class="block" for="">Sexualized behaviors and/or behavioral changes</label>
        </div>
    <div class="col-sm-3">
        <select name="pertinent-history" id="pertinent-history">
            <option value="yes">Yes</option>
            <option value="no" selected >No</option>
        </select>
    </div>
</div>  

<div class="form-group row">
    <div class="col-sm-1">
        <p>If Yes,</p>
    </div>
    <div class="col-sm-11">
        <textarea class="block" rows="5" cols="50" for="Pertinent History"></textarea>
    </div>
</div>

<div class="form-group row">
    <div class="col-sm-6">
        <label class="block" for="">Previous evaluations completed (external or Internal)</label>
        </div>
    <div class="col-sm-3">
        <select name="prev-eval" id="prev-eval">
            <option value="yes">Yes</option>
            <option value="no" selected >No</option>
        </select>
    </div>
</div>
