<div class='row justify-content-center' style="margin-top: 15px;">
    <h2> Services </h2>
</div>
<div class="card body p-2" style="border-radius: 1rem; width: 50rem; margin: auto;">
    <div class="form-group row">
        <div>
            <label class="service-label" for="scheduled by">Scheduled by: <abbr title="required"
                    aria-label="required"></abbr></label>
            <input id="scheduled by" type="text" name="scheduled by">
        </div>
    </div>

    <div class="form-group row">
        <div class="service-label">
            Patient:
        </div>
    </div>

    <div class="form-group row">
        <div class="service-label">
            Referal Type:
        </div>
        <select name="referal type" id="referal type" style="width: 75px; height: 35px; margin-top: 12px;">
            <option value="data">data</option>
        </select>
    </div>

    <div class="form-group row">
        <div class="service-label">
            Service:
        </div>
        <select name="service" id="service" style="width: 75px; height: 35px; margin-top: 12px;">
            <option value="data">data</option>
        </select>
    </div>

    <div class="form-group row">
        <div class="service-label">
            Clinician Name:
        </div>
        <select name="clinician name" id="clinician name" style="width: 75px; height: 35px; margin-top: 12px;">
            <option value="data">data</option>
        </select>
    </div>

    <div class="form-group row">
        <div class="service-label">
            Report Submitted:
        </div>
        <select name="report submitted" id="report submitted" style="width: 75px; height: 35px; margin-top: 12px;">
            <option value="yes">yes</option>
            <option value="no">no</option>
        </select>
    </div>

    <div class="form-group row">
        <div>
            <label class="service-label" for="Report Date">Report Date: <abbr title="required"
                    aria-label="required"></abbr></label>
            <input id="Report Date" type="text" name="Report Date">
        </div>
    </div>

    <div class="form-group row">
        <div class="service-label">
            <label style="display:block;" for="Report Date">Notes: <abbr title="required"
                    aria-label="required"></abbr></label>
            <textarea style="display:block;" rows="5" cols="50" for="Report Date"></textarea>
        </div>
    </div>
</div>
