<div class='row justify-content-center' style="margin-top: 15px;">
    <h2> Services </h2>
</div>
<div class="card body p-2" id="services-card-ext">
    <div class="form-group row">
        <div>
            <label class="service-label" for="scheduled by">Scheduled by: <abbr title="required"
                    aria-label="required"></abbr></label>
            <input id="scheduled by" type="text" name="scheduled by">
        </div>
    </div>

    <div class="form-group row">
        <div class="service-label">
            Patient:
        </div>
        <div class="col-md-12" style="margin-left: 3px;">
                <div class="form-check form-check-inline  form-control-sm">
                    <input class="form-check-input" type="radio" name="patientOptions" value="patient1">
                    <label class="form-check-label checkbox-label" for="patient1">Patient1</label>
                </div>
                <div class="form-check form-check-inline  form-control-sm">
                    <input class="form-check-input" type="radio" name="patientOptions" value="patient2">
                    <label class="form-check-label checkbox-label" for="inputDisclosureNo">Patient2</label>
                </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="service-label">
            Referal Type:
        </div>
        <select name="referal type" id="referal type" class="services-dropdown">
            <option value="data">data</option>
        </select>
    </div>

    <div class="form-group row">
        <div class="service-label">
            Service:
        </div>
        <select name="service" id="service" class="services-dropdown">
            <option value="data">data</option>
        </select>
    </div>

    <div class="form-group row">
        <div class="service-label">
            Clinician Name:
        </div>
        <select name="clinician name" id="clinician name" class="services-dropdown">
            <option value="data">data</option>
        </select>
    </div>

    <div class="form-group row">
        <div class="service-label">
            Report Submitted:
        </div>
        <select name="report submitted" id="report submitted" class="services-dropdown">
            <option value="yes">yes</option>
            <option value="no">no</option>
        </select>
    </div>

    <div class="form-group row">
        <div>
            <label class="service-label" for="Report Date">Report Date: <abbr title="required"
                    aria-label="required"></abbr></label>
            <input id="Report Date" type="text" name="Report Date">
        </div>
    </div>

    <div class="form-group row">
        <div class="service-label">
            <label class="block" for="Report Date">Notes: <abbr title="required"
                    aria-label="required"></abbr></label>
            <textarea class="block" rows="5" cols="50" for="Report Date"></textarea>
        </div>
    </div>
</div>
<div class="card body p-2" id="services-card-ext" style="margin-top: 8px;">
    <table class="table" style="width:70%;">
        <tr>
            <th>Status</th>
            <td>Schedule Date</td>
            <td>Schedule Changed on</td>
            <td>[add/delete]</td>
        </tr>
</div>
